service vendor.boot-default /system/bin/hw/android.hardware.boot-service.default_recovery-pixel
    class early_hal
    user root
    group root
    seclabel u:r:hal_bootctl_default:s0
    interface aidl android.hardware.boot.IBootControl/default


