import /init.recovery.${ro.board.platform}.rc

# DELETE ME USB BRINGUP b/188672439.  Delete the following two lines after
# USB is brought up completely.
on property:sys.usb.state=fastboot
    write /sys/devices/platform/11210000.usb/dwc3_exynos_otg_b_sess 1

on property:sys.usb.state=adb
    write /sys/devices/platform/11210000.usb/dwc3_exynos_otg_b_sess 1
